{% if current %}
	{% if not config.onlyTemp %}
		<div class="normal medium">
			<span>
				<span class="wi wi-wind-beaufort-{{ current.windSpeedBft }} dimmed"></span>
                {% if config.showWindDirection %}
                    <sup>
                        {% if config.showWindDirectionAsArrow %}
                            <i class="fa fa-long-arrow-up" style="transform:rotate({{ current.windDirection }}deg);"></i>
                        {% else %}
                            {{ current.windDirection }}
                        {% endif %}
                        &nbsp;
                    </sup>
                {% endif %}
            </span>
            <span class="wi dimmed wi-{{ current.nextSunAction() }}"></span>
            <span>
                {% if current.nextSunAction() === "sunset" %}
                    {{ current.sunset }}
                {% else %}
                    {{ current.sunrise }}
                {% endif %}
            </span>
        </div>
    {% endif %}
    <div class="large light">
        <span class="wi weathericon wi-{{current.weatherType}}"></span>
        <span class="bright">
            {{ current.temperature | roundValue | unit("temperature") | decimalSymbol }}
        </span>
    </div>
    <div class="normal light indoor">
        {% if config.showIndoorTemperature and indoor.temperature %}
            <div>
                <span class="fa fa-home"></span>
                <span class="bright">
                    {{ indoor.temperature | roundValue | unit("temperature") | decimalSymbol }}
                </span>
            </div>
        {% endif %}
        {% if config.showIndoorHumidity and indoor.humidity %}
            <div>
                <span class="fa fa-tint"></span>
                <span class="bright">
                    {{ indoor.humidity | roundValue | unit("humidity") | decimalSymbol }}
                </span>
            </div>
        {% endif %}
    </div>
		<div class="dimmed small">
			<span class="wi weathericon wi-thermometer-exterior"></span>
			<span class="dimmed">
				{{ current.minTemperature| roundValue | unit("temperature") | decimalSymbol }}
			</span>
			<span class="dimmed" allign right>
				{{ current.maxTemperature| roundValue | unit("temperature") | decimalSymbol }}
			</span>
			<span class="wi weathericon wi-thermometer"></span>
			<span class="wi weathericon wi-umbrella" "dimmed"></span><span class = "dimmed">
				{{current.rainChance }}%
			</span>
		</div>
    <div class="normal medium">
			<span class="dimmed">
				Voelt als {{ current.feelsLikeTemp | roundValue | unit("temperature") | decimalSymbol }}
			</span>
		</div>
		<div class="dimmed small">
			{{ current.humanRead }}
		</div>
		<div class="thin xsmall xsmall">
			{{ current.tijdstip }}
		</div>
{% else %}
    <div class="dimmed light small">
        {{ "LOADING" | translate | safe }}
    </div>
{% endif %}

<!-- Uncomment the line below to see the contents of the `current` object. -->
<!-- <div style="word-wrap:break-word" class="xsmall dimmed">{{current | dump}}</div> -->
